@import 'ufsa_mobile';
#page-infoBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#page-infoBar .status-container {
    display: flex;
    flex-direction: column;
}

#page-infoBar .page-infoBar--status {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: bold;
    text-align: end;
}

#page-infoBar .page-infoBar--instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: start;
}

#page-infoBar p {
    margin: 0;
}

@media screen and (max-width: $mobile_max_width) {
    #page-infoBar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 8px;
    }
    #page-infoBar .page-infoBar--instructions {
        text-align: center;
        margin-bottom: 5px;
    }
    #page-infoBar .page-infoBar--status {
        text-align: center;
    }
}

/*# sourceMappingURL=DSO_Student_Form_Page_Info_Styles.css.map */

/*# sourceMappingURL=DSO_Student_Form_Page_Info_Styles.css.map */