@import 'ufsa_colors';
/* UFSA Wide template*/

div.ufsa-t-Form-inputContainer.t-Form-inputContainer {
    margin: 6px 0;
    padding: 0;
    overflow: visible;
}

.input-error {
    border-color: $error !important;
}