@import 'ufsa_colors';

.ufsa-t-Navbar--notification-icon {
    position: relative;
    margin: auto 10px;
    padding: 5px; // border: 1px solid white;
    // border-radius: 20px;
    color: white;
}

.ufsa-t-notificationList {
    z-index: 999;
    position: absolute;
    right: 0;
    width: 300px;
    height: fit-content;
    background-color: $uf_beige; // top: 50px;
    // -webkit-clip-path: polygon(0 15%, 66% 15%, 75% 0, 84% 14%, 100% 14%, 100% 100%, 0 100%);
    // clip-path: polygon(0 15%, 66% 15%, 75% 0, 84% 14%, 100% 14%, 100% 100%, 0 100%);
    border-radius: 3px;
}

.ufsa-t-notificationList .ufsa-t-notificationList--item {
    height: 40px;
    width: 100%;
    border-top: 1px solid $border_color_default;
    color: black;
}

// on hover distorts absolutely positioned elements