/* UFSA Navigation Bar*/

.t-Header-navBar {
    overflow: visible;
    display: flex;
}

.ufsa-t-Navbar {
    display: flex;
    justify-content: space-between; // justify-items: center;
    width: 200px;
    height: 100%;
}

.ufsa-t-Navbar .ufsa-t-Navbar--userInfo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    height: inherit;
}

.ufsa-t-Navbar .ufsa-t-Navbar--user {
    color: white;
}

// Set the height of the log out button
.ufsa-t-Navbar .t-NavigationBar .t-NavigationBar-item,
.ufsa-t-Navbar .t-NavigationBar .t-NavigationBar-item .t-Button--navBar {
    height: 100%;
}

/* HMS NavigationBar*/

.t-Header-navBar .t-NavigationBar.t-NavigationBar--classic {
    height: 100%;
}

.t-NavigationBar.t-NavigationBar--classic .t-NavigationBar-item,
.t-NavigationBar.t-NavigationBar--classic .t-NavigationBar-item a {
    height: inherit;
}

.t-Header-navBar div.t-ButtonRegion {
    margin-bottom: 0;
}

.t-Header-navBar div.t-ButtonRegion .t-ButtonRegion-col.t-ButtonRegion-col--content {
    padding: 0;
}

