@import 'ufsa_mobile';
@media screen and (max-width: $mobile_max_width) {
    .ui-dialog {
        width: 90% !important;
        margin: 0 $mobile_side_margin;
    }
}

.ufsa-t-DialogRegion--overflowVisible .t-DialogRegion-body {
    overflow: visible;
}