@import 'dso_student_form_page_info_styles';
@import 'ufsa_filter_region';
@import 'ufsa_breadcrumb';
@import 'ufsa_button';
@import 'ufsa_dialog_region_template';
@import 'ufsa_fa_icon';
@import 'ufsa_field_template';
@import 'ufsa_global';
@import 'ufsa_list_template';
@import 'ufsa_page_template';
@import 'ufsa_region_template';
@import 'ufsa_report_template';
@import 'ufsa_top_nav_menu';
@import 'ufsa_wizard';
@import 'ufsa_notification';
@import 'ufsa_hms_fixes';

/* External css folder */
// @import 'quill';

.hidden {
    visibility: hidden;
}

.red {
    color:red;
}