@import 'ufsa_colors';
/* Button that navigates user to the top of the page */

.t-Body-topButton {
    background-color: $uf_orange_dark !important;
}

/* Right side bar column button */

.t-Button.t-Button--header.t-Button--headerRight {
    color: black;
}

/*
|   Changes the look of default buttons
|	
*/

.t-Button,
.ui-button {
    letter-spacing: 1px;
    font-weight: 500;
}

.ufsa-t-button.t-Button:hover,
.a-Button:hover,
.ufsa-t-button.ui-button:hover {
    background-color: #ffffff;
    color: $default_btn;
}

/*
 *  PRIMARY Buttons
 *
 */

.ufsa-t-button.t-Button--primary:hover,
.ui-button:hover {
    background-color: #ffffff;
    color: $primary_btn_default;
}

/* SUCCESS */

.ufsa-t-button.t-Button--success:hover,
.ui-button:hover {
    background-color: #ffffff;
    color: $primary_btn_success;
}

/* WARNING */

.ufsa-t-button.t-Button--warning:hover,
.ui-button:hover {
    background-color: #ffffff;
    color: $primary_btn_warning;
}

/* DANGER */

.ufsa-t-button.t-Button--danger:hover,
.ui-button:hover {
    color: $primary_btn_danger;
    background-color: #ffffff;
}

.t-Button+.t-Button {
    margin-left: 0;
}

/* 
| SIMPLE BUTTONS
| 
*/

.t-Button--simple {
    text-shadow: none;
    background-color: #ffffff;
    color: $default_btn;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125) inset;*/
}

/*
.t-Button.t-Button--simple:hover {
  color: inherit;
  background-color:#e6e6e6;
  background-color: #fff;
  box-shadow: 0 0 0 1px #000 inset;
}*/

/* 
|   NO UI BUTTON
|  
*/

.t-Button.t-Button--noUI {
    color: $default_btn;
}

.t-Button.t-Button--noUI:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*# sourceMappingURL=UFSA_Button.css.map */