@import 'ufsa_colors';
@import 'ufsa_mobile';
.t-WizardSteps-step.is-active span.t-WizardSteps-marker {
    background-color: $uf_blue_dark;
}

.t-WizardSteps-step.is-complete .t-WizardSteps-marker {
    width: 25px;
    height: 25px;
}

.t-WizardSteps-step.is-active .t-WizardSteps-marker {
    color: transparent;
}

.t-WizardSteps-step.is-current .t-WizardSteps-marker {
    border: 2px solid $uf_blue_dark;
    background-color: #ffffff;
}

.ufsa-t-Wizard .t-WizardSteps-wrap:after {
    background-color: rgba(68, 196, 243, 0.671);
    background-color: rgba(0, 112, 187, 0.282); // background-color: #44c4f3;
    // background-color: $uf_blue_light;
    // background-color:#73c4bc;
    // background-color: $uf_orange_light;
}

/* Make the navigation clickable */

.t-WizardSteps-step.is-complete .t-WizardSteps-marker>span.icon.fa,
.t-WizardSteps-step.is-active .t-WizardSteps-marker>span.icon.fa {
    position: relative;
    visibility: visible;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
}

/* Hide the icon for incomplete */

.t-WizardSteps-marker>span.icon.fa {
    visibility: hidden;
}

.t-WizardSteps-marker a.wizard_nav {
    z-index: 999;
    position: absolute;
    transform: translate(-60%, -30%);
    width: 30px;
    height: 30px;
}

.t-WizardSteps-marker {
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.t-WizardSteps-marker:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@media screen and (max-width: $mobile_max_width) {
    .t-WizardSteps-marker a.wizard_nav {
        width: 20px;
        height: 20px;
    }
    .t-WizardSteps-step.is-complete .t-WizardSteps-marker {
        width: 20px;
        height: 20px;
    }
    .t-WizardSteps-marker>span.icon.fa {
        font-size: 0.3em;
    }
}

/*# sourceMappingURL=UFSA_Wizard.css.map */