.ufsa-fa-small {
  font-size: 1em; }

.ufsa-fa-med {
  font-size: 1.5em; }

.ufsa-fa-large {
  font-size: 2em; }

.ufsa-fa--icon.fa {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.ufsa-fa--icon.fa:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

/*# sourceMappingURL=UFSA_Fa_Icon.css.map */
