@import 'ufsa_colors';
/*  UFSA Interactive Items Report Template */

.ufsa-t-Report--items {
    display: flex;
    flex-wrap: wrap;
}

.ufsa-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    height: fit-content;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid $border_color_default;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.ufsa-container>* {
    padding: 10px;
}

.ufsa-container+.ufsa-container {
    margin-left: 15px;
}

.ufsa-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-weight: 500;
    color: $uf_blue_light;
}

.ufsa-header--Title {
    font-size: 1.2em;
}

.ufsa-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-top: 1px solid $border_color_default;
}

@media screen and (max-width: 650px) {
    .ufsa-t-Report--items {
        flex-direction: column;
    }
    .ufsa-container {
        width: 100%;
        margin-right: 0;
    }
}

/*  UFSA Comments Template */

.ufsa-t-Comment-item .ufsa-t-Comments-actions,
.ufsa-t-Comment-item .ufsa-t-Comments-info,
.ufsa-t-Comment-item .ufsa-t-Comments-comment,
    {
    width: 100%; // padding: 0;
}

.ufsa-t-Comment-item .ufsa-t-Comments-body {
    margin-bottom: 15px;
    border: 1px solid #F0F0F0;
    padding: 0 6px;
}

.ufsa-t-Comment-item .ufsa-t-Comments-body > * {
    margin: 0 6px;
}

.ufsa-t-Comment-item .ufsa-t-Comments-info {
    display: flex;
    // border-bottom: 1px solid #F0F0F0;
    margin: 5px 0;
}

.ufsa-t-Comments-info .ufsa-t-Comments-user {
    font-weight: bold;
    margin-right: 8px;    
}

.ufsa-t-Comments-info .ufsa-t-Comments-date {
    margin-left: 8px;
    // color: #eee;
}

.ufsa-t-Comment-item .ufsa-t-Comments-comment {
    // border-bottom: 1px solid #F0F0F0;
    margin: 8px 0;
}

.ufsa-t-Comment-item .ufsa-t-Comments-actions {
    display: flex;
    // height: 25px;
    height: fit-content; 
    align-items: center;
    padding-right: 5px;
}

// Ellipsis icon to open action-menu
.ufsa-t-Comment-item .ufsa-t-Comments-actions .action-menu {
    margin-left: auto;
}

/*# sourceMappingURL=UFSA_Report_Template.css.map */