@import 'ufsa_colors';
.t-Body>div.ufsa-t-dialogBox {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $border_color_default;
    border-radius: 4px;
}

.t-Body>div.ufsa-t-dialogBox .ufsa-t-dialogBox--content {
    text-align: center
}

.t-Body>div.ufsa-t-dialogBox .ufsa-t-dialogBox--confirmActions {
    display: flex;
    justify-content: center;
    width: 100%;
}

.t-Body>div.ufsa-t-dialogBox .ufsa-t-dialogBox--alertActions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

// position
// display
// size
// margin
.t-Body>div.ufsa-t-dialogOverlay {
    z-index: 998;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    background: $modal_background;
    opacity: $modal_opacity; 
}