@import 'ufsa_desktop';
@import 'ufsa_mobile';
@import 'ufsa_colors';
/*
 *
 *    Standard Page and DSO Right Column CSS
 *
 */

/* Set the height of the page to the viewport*/

.t-Body {
    min-height: 100vh;
}

/* Distance from the top navigation menu */

.t-Body-content {
    margin-top: 150px !important;
}

/* Background spanning the entire page */

.t-Body-main {
    min-height: inherit;
    background: $uf_beige url("https://housing.ufl.edu/wp-content/themes/x-child-ufsa/framework/img/bg-texture.png");
}

/* Wrapping div for the page content */

.t-Body-container.ufsa-t-page--fullWidth {
    max-width: 100%;
    margin: 0 $desktop_side_margin;
}

.t-Body-container.ufsa-t-page--centered {
    max-width: $desktop_max_width;
    margin: 0 auto;
}

/* Top Menu Bar (holds UF Logo, Department Name and log out) */

.t-Header-branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 45px;
    background-color: $uf_orange_dark !important;
    overflow: visible;
}

/* 
 * t-Header-meta
 * Container that holds the UF Logo and Department Name
 */

.t-Header-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* UF Logo */

.t-Header-meta>.logo-img {
    height: 100%;
    width: 40px;
    padding: 7px;
    background-color: $uf_blue_dark;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

a.logo-img img {
    width: 100%;
    height: 100%;
}

.t-Header-meta>.logo-img:hover {
    background-color: $uf_blue_dark_hover;
}

.t-Header-meta .t-Header-link {
    margin-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.t-Header-meta .t-Header-link:hover {
    text-decoration: underline;
}

/*
 * t-Header-nav
 * Container for the Top Navigation Menu
 */

.t-Header-nav {
    border-bottom: 1px solid $border_color_default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
}

.t-PageBody--hideLeft .t-Body-side,
.t-PageBody.t-PageBody--hideActions .t-Body-actions {
    display: block !important;
}

.t-Body-actionsContent {
    border-left: 1px solid #d8d3d3;
}

@media screen and (max-width: $desktop_max_width) {
    .t-Body-container.ufsa-t-page--centered {
        margin: 0 $mobile_side_margin;
    }
}

@media screen and (max-width: $mobile_max_width) {
    /* TODO Remove temporary styling */
    .t-Header-branding {
        background-color: white !important;
    }
    .t-Body-content {
        margin-top: 0 !important;
    }
    .t-Header-branding {
        height: 53px;
    }
    .t-Header-meta>.logo-img {
        width: 75px;
    }
}

/*# sourceMappingURL=UFSA_Page_Template.css.map */