@import 'ufsa_colors';
@import 'ufsa_mobile';

div.filterRegion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}

div.filterRegion button.filter-Button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin-right: -1px;
    border-radius: 8px 8px 0 0;
}

div.filterRegion span.filterRegion-arrowLeft {
    z-index: 999;
    position: absolute;
    top: 25%;
    left: 7px;
    color: $uf_blue_opaque;
    /* color:  #bc581a; */
    font-size: 1.2em;
}

div.filterRegion span.filterRegion-arrowRight {
    z-index: 999;
    position: absolute;
    top: 25%;
    right: 7px;
    color: $uf_blue_opaque;
    font-size: 1.2em;
}

@media screen and (max-width: $mobile_max_width) {
    div.filterRegion span.filterRegion-arrowLeft {
        top: 38%;
    }
    div.filterRegion span.filterRegion-arrowRight {
        top: 38%;
    }
}

/*# sourceMappingURL=UFSA_Filter_Region.css.map */