@import 'ufsa_colors';
@import 'ufsa_mobile';
@import 'ufsa_desktop';
/* Apex added wrapper for breadcrumb */

.t-Body-title {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 auto;
}

/* Container for the breadcrumb */

.t-Breadcrumb-region {
    margin-top: 20px;
}

.t-Breadcrumb-region .t-Region {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.t-BreadcrumbRegion-body {
    padding: 5px 0 20px 0;
}

/* Styling between breadcrumb entries */

.t-Breadcrumb-item:after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 20px;
    background-color: $uf_orange_light;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

li.t-Breadcrumb-item {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Non-current breadcrumb entries */

li.t-Breadcrumb-item .t-Breadcrumb-label {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

li.t-Breadcrumb-item:hover .t-Breadcrumb-label {
    color: $uf_orange_light;
    text-decoration: underline;
}

/* Active breadcrumb entry */

li.t-Breadcrumb-item.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

li.t-Breadcrumb-item.is-active h1.t-Breadcrumb-label {
    margin: 0;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: $uf_blue_dark;
}

a.t-Breadcrumb-label {
    color: black;
}

/* The parent breadcrumb item is an anchor element*/

a.t-Breadcrumb-label:visited {
    color: inherit;
}

@media screen and (max-width: $mobile_max_width) {
    .t-Breadcrumb-region {
        margin: 0 $mobile_side_margin;
    }
    /* .t-Body-title {
margin: 0 10px; } */
    li.t-Breadcrumb-item.is-active h1.t-Breadcrumb-label {
        font-size: 1.5em;
    }
    .t-BreadcrumbRegion .t-BreadcrumbRegion-body {
        padding: 12px 0 6px 0;
    }
}

@media screen and (max-width: $desktop_max_width) {
    .t-Breadcrumb-region {
        margin: 20px $desktop_side_margin;
    }
}

/*# sourceMappingURL=UFSA_Breadcrumb.css.map */