// Colors "brightness" goes from 0 to 10
// 0 being the darkest and 10 being the brightest
$uf_blue_darkest: #074c80;
$uf_blue_dark_hover:#084b81;
$uf_blue_dark:#00529b;
$uf_blue_light:#4c87b5;
$uf_blue_opaque: #4499f3;
$uf_orange_light:#f37021;
$uf_orange_dark: #bc581a;
$uf_beige: #faf8f1;

$modal_background: #000000;
$modal_opacity: 0.15;

// Button colors
$default_btn: #4180ba;
$primary_btn_default: #ca9270;
$primary_btn_success: #19bb34;
$primary_btn_warning: #ffcc02;
$primary_btn_danger: #e90c00;


// Misc
$error: #dc2518;
$border_color_default: #d2d0d0;