@import 'ufsa_colors';
@import 'ufsa_mobile';
/*
|   Menu bar
|	
*/

a.topNav-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.topNav-home--title {
    margin: 0 35px;
    height: 100%;
    font-size: 3.6rem;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-variant: all-petite-caps;
    color: $uf_blue_dark;
}

.topNav-home--title img.topNav-home--logo {
    height: inherit;
}

.t-Header .t-Header-nav .t-Header-environment {
    display: flex;
    width: 325px;
}

/* Avoid an override of the parent rule*/

.t-Header .a-MenuBar.a-MenuBar--overflow {
    overflow: visible;
    height: inherit;
    background-color: #ffffff;
}

/* Avoid an override of the parent rule*/

.a-MenuBar.a-MenuBar--overflow {
    overflow: visible;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.t-Header .a-MenuBar {
    background-color: #ffffff;
}

/*
|	Have the .is-focused highlight span the entire
|   height of the navigation bar
|	
*/

.a-MenuBar ul {
    height: 100%;
}

/*
|    Menu Bar items
|	
*/

.t-Header .t-Header-nav .a-MenuBar-item {
    background-color: #ffffff !important;
    padding: 16px 10px 12px 5px;
    height: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

/* 
 | Menu bar item being focused/expanded
 | UFSA/HMS
*/

.t-Header .ufsa-t-nav-list .a-MenuBar-item.is-expanded,
.t-Header .ufsa-t-nav-list .a-MenuBar-item.a-Menu--current,
.t-Header .ufsa-t-nav-list .a-MenuBar-item.a-Menu--current.is-expanded,
.t-Header .ufsa-t-nav-list .a-MenuBar-item.is-focused,
.t-Header .ufsa-t-nav-list .a-MenuBar-item:hover,
.t-Header .ufsa-t-nav-list .a-MenuBar-item.a-Menu--current.is-focused {
    background-color: $uf_beige !important;
}

// .t-Header .a-MenuBar-item.a-Menu--split.is-expanded,
// .t-Header .a-MenuBar-item.a-Menu--split.a-Menu--current,
// .t-Header .a-MenuBar-item.a-Menu--split.a-Menu--current.is-expanded,
// .t-Header .a-MenuBar-item.a-Menu--split.is-focused,
// .t-Header .a-MenuBar-item.a-Menu--split:hover,
// .t-Header .a-MenuBar-item.a-Menu--split.a-Menu--current.is-focused {
//     background-color: $uf_beige !important;
// }

/*
 |  Menu Bar Icons
 | UFSA/HMS
*/

.a-MenuBar-item.a-Menu--current>.a-Menu-subMenuCol .ufsa-t-nav-list .a-Icon {
    background-color: #ffffff;
    color: $uf_blue_darkest;
    border-color: $uf_blue_darkest;
}

// .t-Header .a-MenuBar-item.a-Menu--current>.a-Menu-subMenuCol .a-Icon.icon-menu-split-drop-down {
//     background-color: #ffffff;
//     color: $uf_blue_darkest;
//     border-color: $uf_blue_darkest;
// }
// .t-Header .a-MenuBar-item.a-Menu--current.is-focused>.a-Menu-subMenuCol .a-Icon.icon-menu-split-drop-down,
// .t-Header .a-MenuBar-item>.a-Menu-subMenuCol:hover .a-Icon.icon-menu-split-drop-down,
// .t-Header .a-MenuBar-item.is-expanded>.a-Menu-subMenuCol .a-Icon.icon-menu-split-drop-down {
//     background-color: $uf_blue_darkest;
//     color: #ffffff;
// }

.t-Header .ufsa-t-nav-list .a-MenuBar-item.a-Menu--current.is-focused>.a-Menu-subMenuCol .a-Icon,
.t-Header .ufsa-t-nav-list .a-MenuBar-item>.a-Menu-subMenuCol:hover .a-Icon,
.t-Header .ufsa-t-nav-list .a-MenuBar-item.is-expanded>.a-Menu-subMenuCol .a-Icon {
    background-color: $uf_blue_darkest;
    color: #ffffff;
}

/*
|   Menu Bar sub-items
*/

.a-MenuBar-item.a-Menu--split>.a-Menu-subMenuCol,
.a-MenuBar.u-rtl .a-MenuBar-item.a-Menu--split>.a-Menu-subMenuCol {
    margin-right: 0;
    padding: 12px 2px;
    border: none;
}

.t-Header .a-MenuBar-label {
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 700;
    font-variant: all-petite-caps;
}

.t-Header .a-Menu .a-Menu-content {
    border-width: 0;
    background-color: $uf_beige;
}

.t-Header .a-Menu .a-Menu-item,
.a-Menu-item .a-Menu-inner,
.a-Menu-item .a-Menu-inner .a-Menu-labelContainer .a-Menu-label {
    letter-spacing: -.5px;
    font-size: 1.8rem;
    font-variant: initial;
    font-weight: 400;
}

/*
 Person Search Button
*/

#P0A107_SEARCH {
    color: $uf_blue_light;
}

.a-MenuBar-item .a-Menu--split .is-focused {
    background-color: $uf_beige;
}

@media screen and (max-width: $mobile_max_width) {
    .t-Header-nav {
        display: none;
    }
}

/*# sourceMappingURL=UFSA_Top_Nav_Menu.css.map */