@import 'ufsa_colors';
@import 'ufsa_mobile';
/* UFSA Standard Page Template*/

.ufsa-t-Region {
    padding: 15px;
}

/* Remove padding from nested ufsa regions */

.ufsa-t-Region .ufsa-t-Region {
    padding: 0;
}

.ufsa-t-Region.t-Region .t-Region-body {
    padding: 0;
    margin: 12px 0;
}

.ufsa-t-Region .t-Region-header .t-Region-headerItems--title {
    padding: 1.6rem 0;
}

.ufsa-t-Region .t-Region-header h2.t-Region-title {
    color: $uf_blue_light;
}

.ufsa-t-Region .t-Region-buttons>* {
    padding: 0.8rem 0;
}

.ufsa-t-Region .t-ButtonRegion-col.t-ButtonRegion-col--content {
    padding: 0;
}

div.filterRegion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}

div.filterRegion .button.filter-Button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 0 1px;
}

.ufsa-t-Region--vertMargin {
    margin: 10px 0;
}

.ufsa-t-Region--rightMargin {
    margin-right: 10px;
}

.ufsa-t-Region--leftMargin {
    margin-left: 10px;
}

.ufsa-t-Region.ufsa-t-Region--readOnly>.ufsa-readOnly--Mask {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #b1adad33; */
    display: block
}

.ufsa-t-Region .t-Form-labelContainer {
    text-align: left;
}

.ufsa-t-Region.t-Form--noPadding .ufsa-t-Form-inputContainer > span {
    padding: 0;
}

@media screen and (max-width: $mobile_max_width) {
    .ufsa-t-Region--rightMargin {
        margin-right: 0;
    }
    .ufsa-t-Region--leftMargin {
        margin-left: 0;
    }
}

/*# sourceMappingURL=UFSA_Region_Templates.css.map */